@mixin shadow {
  box-shadow: 0 0 11px #000;
}

main {
  height: 100%;
  background-color: color(pearl);
}

.sidebar {
  z-index: 2;
  position: relative;
  padding-top: ws(large);
  padding-bottom: ws(large);
  background-color: color(bluedark);
  color: color(pearl);
  // @include shadow();
}

.sidebar-row {
  & + & {
    margin-bottom: ws(medium);
  }
}

#portrait {
  width: 100%;
  height: auto;
  margin-left: 1rem;
  margin-bottom: ws(tiny);
  @include shadow();
}

.table-standard {
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: ws(x-small);
  border-collapse: collapse;
  font: font(tiniest);

  tr {
    border-bottom: 1px solid color(black);
  }

  &.lines {
    width: calc(100% - 2rem);
    margin-left: 0;

    caption {
      color: color(bluedark);
    }

    tr {
      border-bottom: 1px solid color(light);
    }
  }

  caption {
    margin-bottom: ws(xx-small);
    padding-bottom: ws(xx-small);
    border-bottom: 1px solid color(blueline);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  tr > td {
    line-height: ws(smaller);

    &:nth-child(2) {
      text-align: right;
    }
  }
}

.social {
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;

  .wrapper {
    margin-right: 1rem;
  }
}

.anchor-icon {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;

  path {
    transition: fill 0.2s ease-in-out;
    fill: color(pearl);
  }

  &:hover {
    path {
      fill: color(blue);
    }
  }
}

.content {
  position: relative;
  z-index: 1;
  padding-top: ws(large);
  padding-bottom: ws(large);
  background-color: color(pearl);
  color: color(black);


  .view-gh {
    display: inline-block;
    transition: color 0.1s;
  }
}

.section-container {
  // padding-top: 0;

  table {
    margin-bottom: ws(x-small);
  }
}

.cv-header {
  position: relative;
  margin-bottom: ws(medium);
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font: font(tiny);
}

.sub-title {
  // text-transform: uppercase;
  letter-spacing: 0.1rem;
  font: font(x-tiny);
}

.section-header {
  border-bottom: 1px solid color(light);
}

.content-inner {
  flex-direction: row;
}

.content-experience {
    position: relative;
}

.content-skills {
    position: relative;
}

@media print {
  #portrait {
    width: 100%;
  }

  .table-standard {
    font: font(tiniest-print);

    tr > td {
      line-height: ws(smaller-print);

    }
  }

  .pre-title {
    font: font(tiny-print);
  }
  
  .sub-title {
    font: font(x-tiny-print);
  }
}
