
main {
  height: 100%;
  background-color: color(pearl);
}

.sidebar {
  z-index: 2;
  position: relative;
  height: 100%;
  padding-top: ws(large);
  padding-bottom: ws(large);
  background-color: color(bluedark);
  color: color(pearl);
}

.sidebar-row {
  & + & {
    margin-bottom: ws(x-large);
  }
}

#portrait {
  width: 100%;
  height: auto;
  margin-left: 2rem;
  margin-bottom: ws(medium);
}

.table-standard {
  width: calc(100% - 4rem);
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: ws(x-small);

  & + & {
    margin-top: ws(large);
  }

  &.lines {
    width: calc(100% - 2rem);
    margin-left: 0;

    tr > td {
      border-bottom: 1px solid color(light);
    }
  }

  caption {
    margin-bottom: ws(xx-small);
    padding-bottom: ws(xx-small);
    border-bottom: 1px solid color(greydark);
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }

  tr > td {
    line-height: ws(smaller);

    &:nth-child(2) {
      text-align: right;
    }
  }
}

.content {
  position: relative;
  z-index: 1;
  padding-top: ws(large);
  background-color: color(pearl);
  color: color(black);


  .view-gh {
    display: inline-block;
    transition: color 0.1s;
  }

  .row.section-container {
    padding-top: 0;
  }
}

.cv-header {
  position: relative;
  margin-bottom: ws(medium);
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font: font(tiny);
}

.sub-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font: font(x-tiny);
}

.section-header {
  border-bottom: 1px solid color(light);
}

.content-inner {
  flex-direction: row;
}

.content-experience {
    position: relative;
}

.content-skills {
    position: relative;
}

@media print {
  .pre-title {
    font: font(tiny-print);
  }
  
  .sub-title {
    font: font(x-tiny-print);
  }
}
