
main {
  // width: 100%;
  height: 100%;
  background-color: color(pearl);
  color: color(black);
}

.sidebar {
  z-index: 2;
//   float: left;
  position: relative;
  // width: 26%;
  // padding-left: 2%;
  // padding-right: 2%;
  padding-top: ws(large);
  padding-bottom: ws(large);
  background-color: color(bluedark);
  color: color(pearl);
}

.sidebar-row {
  & + & {
    margin-bottom: ws(x-large);
  }
}

#portrait {
  width: 120%;
  height: auto;
  margin-bottom: ws(medium);
}

.table-standard {
  width: calc(100% - 4rem);
  margin-left: 2rem;
  margin-right: 2rem;

  & + & {
    margin-top: ws(large);
  }

  &.lines {
    width: calc(100% - 2rem);
    margin-left: 0;

    tr > td {
      border-bottom: 1px solid color(light);
    }
  }

  caption {
    margin-bottom: ws(xx-small);
    padding-bottom: ws(xx-small);
    border-bottom: 1px solid color(greydark);
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }

  tr > td {
    line-height: ws(smaller);

    &:nth-child(2) {
      text-align: right;
    }
  }
}

.content {
//   float: left;
  // flex-direction: column;
  // width: 70%;
  position: relative;
  z-index: 1;
  // padding-left: 4%;
  // padding-right: 4%;
  padding-top: ws(large);
  background-color: color(pearl);
  color: color(black);

  // & > .row:not(:first-child) {
  //   padding-top: ws(large);
  // }

  .view-gh {
    display: inline-block;
    transition: color 0.1s;
  }

  .row.section-container {
    padding-top: 0;
  }
}

.cv-header {
  // width: calc(100% - 6rem);
  position: relative;
  // padding-left: 3rem;
  // padding-right: 3rem;
  margin-bottom: ws(large);
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font: font(tiny);
}

.sub-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font: font(x-tiny);
}

.content-inner {
  flex-direction: row;
}

.content-experience {
    // width: calc(70% - 6rem);
    position: relative;
    // padding-left: 3rem;
    // padding-right: 3rem;
}

.content-skills {
    // width: calc(30% - 6rem);
    position: relative;
    // padding-left: 3rem;
    // padding-right: 3rem;
}

@media print {
  .pre-title {
    font: font(tiny-print);
  }
  
  .sub-title {
    font: font(x-tiny-print);
  }
}
