<div class="row occupation">
  <div class="wrapper one columns">
    <div class="occupation-date-span">
      <div class="occupation-date occupation-date-end">
        {{end}}
      </div>
      <div class="occupation-date occupation-date-start">
        {{start}}
      </div>
    </div>
  </div>

  <div class="wrapper eleven columns">
    <h3>{{jobtitle}}</h3>
    <p>{{description}}</p>
  </div>
</div>