{{> header}}

<div class="inner">
  <div class="row">

    <div class="wrapper sidebar">
      <div class="row sidebar-row">
        <img id="portrait" src="./img/portrait.jpg" alt="portrait">
      </div>

      <div class="row sidebar-row">
        <div class="wrapper twelve columns">
          <table class="table-standard">
            <caption>Contact</caption>
            <tr>
              <td valign="top">Email:</td>
              <td><a href="mailto:philip@schulz-klingauf.de">philip@schulz-klingauf.de</a></td>
            </tr>
            <tr>
              <td valign="top">Phone:</td>
              <td><a href="tel:+436803161458">+43 680 31 61 458</a></td>
            </tr>
            <tr>
              <td valign="top">LinkedIn:</td>
              <td><a href="https://www.linkedin.com/in/philip-schulz-klingauf-1a10ba126/">linkedin.com/in/philip-schulz-klingauf-1a10ba126/</a></td>
            </tr>
            <tr>
              <td valign="top">GitHub:</td>
              <td><a href="https://github.com/pschulzk">github.com/pschulzk</a></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row sidebar-row">
        <div class="wrapper twelve columns">
          <table class="table-standard">
            <caption>Address</caption>
            <tr>
              <td valign="top" rowspan="2">Street:</td>
              <td>Neubaugasse 29</td>
            </tr>
            <tr>
              <td>Stiege 2 / T&uuml;r 28</td>
            </tr>
            <tr>
              <td valign="top">City:</td>
              <td>Vienna</td>
            </tr>
            <tr>
              <td valign="top">ZIP:</td>
              <td>1070</td>
            </tr>
            <tr>
              <td valign="top">Country:</td>
              <td>Austria</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row sidebar-row">
        <div class="wrapper twelve columns">
          <table class="table-standard">
            <caption>Bio</caption>
            <tr>
              <td valign="top">Date of Birth:</td>
              <td>03 / 22 / 1984</td>
            </tr>
            <tr>
              <td valign="top">Nationality:</td>
              <td>Germany</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row sidebar-row">
        <div class="wrapper twelve columns">
          <table class="table-standard">
            <caption>Languages</caption>
            <tr>
              <td valign="top">German:</td>
              <td>native</td>
            </tr>
            <tr>
              <td valign="top">English:</td>
              <td>fluent</td>
            </tr>
          </table>
        </div>
      </div>

    </div>

    {{!-- MAIN --}}

    <div class="wrapper content">
      <div class="row cv-header">
        <div class="wrapper twelve columns">
          <span class="pre-title">Curriculum Vit&aelig;</span>
          <h1>Philip Schulz-Klingauf</h1>
          <span class="sub-title">Frontend Developer and UI/UX Designer</span>
        </div>
      </div>

      {{#each jobs}}
        {{> occupation}}
      {{else}}
        <pre>No array found!</pre>
      {{/each}}

      <div class="row"> --}}
        <div class="wrapper twelve columns">
          <h2>Skills</h2>
        </div>
      </div>

      <div class="row section-container">

        <div class="wrapper four columns">
          <table class="table-standard lines">
            <caption>Languages</caption>
            <tr>
              <td valign="top">HTML, CSS, SASS:</td>
              <td>7 years</td>
            </tr>
            <tr>
              <td valign="top">Bash:</td>
              <td>7 years</td>
            </tr>
            <tr>
              <td valign="top">TypeScript:</td>
              <td>4 years</td>
            </tr>
            <tr>
              <td valign="top">JavaScript:</td>
              <td>3 years</td>
            </tr>
            <tr>
              <td valign="top">PHP:</td>
              <td>3 years</td>
            </tr>
            <tr>
              <td valign="top">Java:</td>
              <td>&lt;1 year</td>
            </tr>
            <tr>
              <td valign="top">Python:</td>
              <td>&lt;1 year</td>
            </tr>
          </table>
        </div>

        <div class="wrapper four columns">
          <table class="table-standard lines">
            <caption>Libraries/Frameworks</caption>
            <tr>
              <td valign="top">Angular 2+:</td>
              <td>4 years</td>
            </tr>
            <tr>
              <td valign="top">Jasmine:</td>
              <td>4 years</td>
            </tr>
            <tr>
              <td valign="top">Protractor:</td>
              <td>4 years</td>
            </tr>
            <tr>
              <td valign="top">jQuery:</td>
              <td>3 years</td>
            </tr>
            <tr>
              <td valign="top">Nrwl/NX:</td>
              <td>1 year</td>
            </tr>
            <tr>
              <td valign="top">Redux:</td>
              <td>1 year</td>
            </tr>
            <tr>
              <td valign="top">ngXS:</td>
              <td>1 year</td>
            </tr>
            <tr>
              <td valign="top">GraphQL:</td>
              <td>1 year</td>
            </tr>
          </table>
        </div>

        <div class="wrapper four columns">
          <table class="table-standard lines">
            <caption>Tools</caption>
            <tr>
              <td valign="top">Jenkins:</td>
              <td>4 years</td>
            </tr>
            <tr>
              <td valign="top">Git:</td>
              <td>3 years</td>
            </tr>
            <tr>
              <td valign="top">Gulp:</td>
              <td>3 years</td>
            </tr>
            <tr>
              <td valign="top">Docker:</td>
              <td>2 years</td>
            </tr>
            <tr>
              <td valign="top">Webpack:</td>
              <td>2 years</td>
            </tr>
            <tr>
              <td valign="top">NPM (private repository):</td>
              <td>1 year</td>
            </tr>
            <tr>
              <td valign="top">SVN:</td>
              <td>1 year</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>

{{> footer}}