{{> header}}

<div class="inner">
  <div class="row">

    <div class="wrapper four columns sidebar">
      <div class="row sidebar-row">
        <img id="portrait" src="./img/portrait.jpg" alt="portrait">
      </div>

      <div class="row sidebar-row">
        <div class="wrapper twelve columns">
          <table class="table-contact">
            <caption>Contact</caption>
            <tr>
              <td valign="top">Email:</td>
              <td>philip@schulz-klingauf.de</td>
            </tr>
            <tr>
              <td valign="top">Phone:</td>
              <td><a href="tel:+436803161458">+43 680 31 61 458</a></td>
            </tr>
            <tr>
              <td valign="top">LinkedIn:</td>
              <td><a href="https://www.linkedin.com/in/philip-schulz-klingauf-1a10ba126/">https://www.linkedin.com/in/philip-schulz-klingauf-1a10ba126/</a></td>
            </tr>
            <tr>
              <td valign="top">GitHub:</td>
              <td><a href="https://github.com/pschulzk">https://github.com/pschulzk</a></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row sidebar-row">
        <div class="wrapper twelve columns">
          <table class="table-contact">
            <caption>Address</caption>
            <tr>
              <td valign="top" rowspan="2">Street:</td>
              <td>Neubaugasse 29</td>
            </tr>
            <tr>
              <td>Stiege 2 / T&uuml;r 28</td>
            </tr>
            <tr>
              <td valign="top">City:</td>
              <td>Vienna</td>
            </tr>
            <tr>
              <td valign="top">ZIP:</td>
              <td>1070</td>
            </tr>
            <tr>
              <td valign="top">Country:</td>
              <td>Austria</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row sidebar-row">
        <div class="wrapper twelve columns">
          <table class="table-contact">
            <caption>Bio</caption>
            <tr>
              <td valign="top">Date of Birth:</td>
              <td>03 / 22 / 1984</td>
            </tr>
            <tr>
              <td valign="top">Nationality:</td>
              <td>Germany</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row sidebar-row">
        <div class="wrapper twelve columns">
          <table class="table-contact">
            <caption>Languages</caption>
            <tr>
              <td valign="top">German:</td>
              <td>native</td>
            </tr>
            <tr>
              <td valign="top">English:</td>
              <td>fluent</td>
            </tr>
          </table>
        </div>
      </div>

    </div>

    <div class="wrapper eight columns content">
      <div class="row">
        <div class="wrapper twelve columns">
          <p class="pre-title">Curriculum Vit&aelig;</p>
          <h1 class="title">Philip Schulz-Klingauf</h1>
          <h2 class="sub-title">Frontend Developer and UI/UX Designer</h2>
        </div>
      </div>

      <div class="row">
        <div class="wrapper twelve columns">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente modi deserunt, cupiditate vel assumenda, officiis architecto perferendis dignissimos nesciunt eius consequatur veniam deleniti beatae itaque laudantium suscipit dicta placeat.</p>
        </div>
      </div>

      <div class="row">
        <div class="wrapper twelve columns">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente modi deserunt, cupiditate vel assumenda, officiis architecto perferendis dignissimos nesciunt eius consequatur veniam deleniti beatae itaque laudantium suscipit dicta placeat.</p>
        </div>
      </div>

      <div class="row">
        <div class="wrapper twelve columns">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente modi deserunt, cupiditate vel assumenda, officiis architecto perferendis dignissimos nesciunt eius consequatur veniam deleniti beatae itaque laudantium suscipit dicta placeat.</p>
        </div>
      </div>

      <div class="row">
        <div class="wrapper six columns">
          <table class="table-skill">
            <caption>Bio</caption>
            <tr>
              <td valign="top">Date of Birth:</td>
              <td>03 / 22 / 1984</td>
            </tr>
            <tr>
              <td valign="top">Nationality:</td>
              <td>Germany</td>
            </tr>
          </table>
        </div>

        <div class="wrapper six columns">
          <table class="table-skill">
            <caption>Bio</caption>
            <tr>
              <td valign="top">Date of Birth:</td>
              <td>03 / 22 / 1984</td>
            </tr>
            <tr>
              <td valign="top">Nationality:</td>
              <td>Germany</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>

{{> footer}}