{{> header title='Curriculum Vit\&aelig;'}}

<div class="inner">
  <div class="row">

    <div class="wrapper three columns sidebar">
      <div class="row">
        <div class="wrapper twelve columns">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente modi deserunt, cupiditate vel assumenda, officiis architecto perferendis dignissimos nesciunt eius consequatur veniam deleniti beatae itaque laudantium suscipit dicta placeat.</p>
        </div>
      </div>
    </div>

    <div class="wrapper nine columns content">
      <div class="row">
        <div class="wrapper twelve columns">
          <p class="pre-title">Curriculum Vit&aelig;</p>
          <h1 class="title">Philip Schulz-Klingauf</h1>
          <h2 class="sub-title">Frontend Developer / UI &amp; UX Designer</h2>
        </div>
      </div>

      <div class="row">
        <div class="wrapper twelve columns">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente modi deserunt, cupiditate vel assumenda, officiis architecto perferendis dignissimos nesciunt eius consequatur veniam deleniti beatae itaque laudantium suscipit dicta placeat.</p>
        </div>
      </div>

      <div class="row">
        <div class="wrapper twelve columns">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente modi deserunt, cupiditate vel assumenda, officiis architecto perferendis dignissimos nesciunt eius consequatur veniam deleniti beatae itaque laudantium suscipit dicta placeat.</p>
        </div>
      </div>

      <div class="row">
        <div class="wrapper twelve columns">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente modi deserunt, cupiditate vel assumenda, officiis architecto perferendis dignissimos nesciunt eius consequatur veniam deleniti beatae itaque laudantium suscipit dicta placeat.</p>
        </div>
      </div>

    </div>
  </div>

</div>

{{> footer}}