{{> header}}

<div class="inner">
  <div class="row">

    <div class="wrapper four columns sidebar">
      <div class="row sidebar-row">
        <img id="portrait" src="./img/portrait.jpg" alt="portrait">
      </div>

      <div class="row sidebar-row">
        <div class="wrapper twelve columns">
          <table class="table-standard">
            <caption>Contact</caption>
            <tr>
              <td valign="top">Email:</td>
              <td><a href="mailto:philip@schulz-klingauf.de">philip@schulz-klingauf.de</a></td>
            </tr>
            <tr>
              <td valign="top">Phone:</td>
              <td><a href="tel:+436803161458">+43 680 31 61 458</a></td>
            </tr>
            <tr>
              <td valign="top">LinkedIn:</td>
              <td><a href="https://www.linkedin.com/in/philip-schulz-klingauf-1a10ba126/">linkedin.com/in/philip-schulz-klingauf-1a10ba126/</a></td>
            </tr>
            <tr>
              <td valign="top">GitHub:</td>
              <td><a href="https://github.com/pschulzk">github.com/pschulzk</a></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row sidebar-row">
        <div class="wrapper twelve columns">
          <table class="table-standard">
            <caption>Address</caption>
            <tr>
              <td valign="top" rowspan="2">Street:</td>
              <td>Neubaugasse 29</td>
            </tr>
            <tr>
              <td>Stiege 2 / T&uuml;r 28</td>
            </tr>
            <tr>
              <td valign="top">City:</td>
              <td>Vienna</td>
            </tr>
            <tr>
              <td valign="top">ZIP:</td>
              <td>1070</td>
            </tr>
            <tr>
              <td valign="top">Country:</td>
              <td>Austria</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row sidebar-row">
        <div class="wrapper twelve columns">
          <table class="table-standard">
            <caption>Bio</caption>
            <tr>
              <td valign="top">Date of Birth:</td>
              <td>03 / 22 / 1984</td>
            </tr>
            <tr>
              <td valign="top">Nationality:</td>
              <td>Germany</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row sidebar-row">
        <div class="wrapper twelve columns">
          <table class="table-standard">
            <caption>Languages</caption>
            <tr>
              <td valign="top">German:</td>
              <td>native</td>
            </tr>
            <tr>
              <td valign="top">English:</td>
              <td>fluent</td>
            </tr>
          </table>
        </div>
      </div>

    </div>

    <div class="wrapper eight columns content">
      <div class="row">
        <div class="wrapper twelve columns">
          <p class="pre-title">Curriculum Vit&aelig;</p>
          <h1>Philip Schulz-Klingauf</h1>
          <h2>Frontend Developer and UI/UX Designer</h2>
        </div>
      </div>

      {{> occupation
        jobtitle="UX/Design Lead, Frontend Developer"
        employerName="APA-IT Informations Technologie GmbH"
        employerUrl="https://www.apa-it.at/"
        start="Aug 2020"
        end="Today"
        description="xxxxxxx"
      }}

      {{> occupation
        jobtitle="UI/UX Developer"
        employerName="APA-IT Informations Technologie GmbH"
        employerUrl="https://www.apa-it.at/"
        start="Nov 2019"
        end="Aug 2020"
        description="xxxxxxx"
      }}

      {{> occupation
        jobtitle="Frontend Developer"
        employerName="XFIS IT-Lösungen GmbH"
        employerUrl="https://www.xfis.at/"
        start="Nov 2019"
        end="Jan 2017"
        description="xxxxxxx"
      }}

      {{> occupation
        jobtitle="Web Developer"
        employerName="DigitalWerk GmbH"
        employerUrl="https://digitalwerk.agency/"
        start="Sept 2016"
        end="Apr 2015"
        description="xxxxxxx"
      }}

      {{> occupation
        jobtitle="Freelance Webdesigner"
        start="Feb 2013"
        end="Apr 2015"
        description="xxxxxxx"
      }}

      {{!-- <div class="row">
        <div class="wrapper twelve columns">
          <h3>Freelance Webdesigner</h3>
          <div class="occupation-date-span">
            <div class="occupation-date-start">
              
            </div>
            <div class="occupation-date-end">

            </div>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente modi deserunt, cupiditate vel assumenda, officiis architecto perferendis dignissimos nesciunt eius consequatur veniam deleniti beatae itaque laudantium suscipit dicta placeat.</p>
        </div>
      </div> --}}

      <div class="row">
        <div class="wrapper twelve columns">
          <h2>Skills</h2>
        </div>
      </div>

      <div class="row section-container">

        <div class="wrapper four columns">
          <table class="table-standard lines">
            <caption>Languages</caption>
            <tr>
              <td valign="top">HTML, CSS, SASS:</td>
              <td>7 years</td>
            </tr>
            <tr>
              <td valign="top">Bash:</td>
              <td>7 years</td>
            </tr>
            <tr>
              <td valign="top">TypeScript:</td>
              <td>4 years</td>
            </tr>
            <tr>
              <td valign="top">JavaScript:</td>
              <td>3 years</td>
            </tr>
            <tr>
              <td valign="top">PHP:</td>
              <td>3 years</td>
            </tr>
            <tr>
              <td valign="top">Java:</td>
              <td>&lt;1 year</td>
            </tr>
            <tr>
              <td valign="top">Python:</td>
              <td>&lt;1 year</td>
            </tr>
          </table>
        </div>

        <div class="wrapper four columns">
          <table class="table-standard lines">
            <caption>Libraries/Frameworks</caption>
            <tr>
              <td valign="top">Angular 2+:</td>
              <td>4 years</td>
            </tr>
            <tr>
              <td valign="top">Jasmine:</td>
              <td>4 years</td>
            </tr>
            <tr>
              <td valign="top">Protractor:</td>
              <td>4 years</td>
            </tr>
            <tr>
              <td valign="top">jQuery:</td>
              <td>3 years</td>
            </tr>
            <tr>
              <td valign="top">Nrwl/NX:</td>
              <td>1 year</td>
            </tr>
            <tr>
              <td valign="top">Redux:</td>
              <td>1 year</td>
            </tr>
            <tr>
              <td valign="top">ngXS:</td>
              <td>1 year</td>
            </tr>
            <tr>
              <td valign="top">GraphQL:</td>
              <td>1 year</td>
            </tr>
          </table>
        </div>

        <div class="wrapper four columns">
          <table class="table-standard lines">
            <caption>Tools</caption>
            <tr>
              <td valign="top">Jenkins:</td>
              <td>4 years</td>
            </tr>
            <tr>
              <td valign="top">Git:</td>
              <td>3 years</td>
            </tr>
            <tr>
              <td valign="top">Gulp:</td>
              <td>3 years</td>
            </tr>
            <tr>
              <td valign="top">Docker:</td>
              <td>2 years</td>
            </tr>
            <tr>
              <td valign="top">Webpack:</td>
              <td>2 years</td>
            </tr>
            <tr>
              <td valign="top">NPM (private repository):</td>
              <td>1 year</td>
            </tr>
            <tr>
              <td valign="top">SVN:</td>
              <td>1 year</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>

{{> footer}}